section {
    display: flex;
    gap: 20px;
}

.box {
    width: 400px;
}

.list {
    height: 500px;
    overflow: auto;
    border: 1px solid #aaa;
}

.list div {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.error {
    color: red;
    margin: 10px 0;
}